@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>
    <style>
        h1{
            background-color:lawngreen;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>This is Header</h1>
</body>
</html>
